<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Insert title here</title>
</head>
<body>
<h1>Reset password</h1>
<form th:action="@{/resetpass}" method="post" onsubmit="return validation()">
<h3 id="head"></h3>
<input type="hidden" th:value="${token}" name="token"><br><br>
Enter new Password: <input type="password" name="pass" id="pass"><br><br>
Reenter Password: <input type="password" name="repass" id="repass"><br><br>
Show Password <input type="checkbox" onclick="myFunction()"><br><br>
 <button type="submit">Reset</button>
</form>
<script type="text/javascript">
var h = document.getElementById("head");
var x = document.getElementById("pass");
var y = document.getElementById("repass");

function validation() {
	if(x.value!=y.value){
		h.innerHTML="does't match";
		return false;
	}else{
		return true;
	}
}


function myFunction() {
	 if (x.type === "password") {
	    x.type = "text";
	  } else {
	    x.type = "password";
	  }
	}
</script>
</body>
</html>