<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Insert title here</title>
</head>
<body>
<h1 th:if="${email}" th:text="${email}"></h1>
<h1 th:if="${message}" th:text="${message}"></h1>
<h1 th:if="${message1}" th:text="${message1}"></h1>
</body>
</html>